.upload{
    background-color: rgba(117, 94, 94, 0.479);
    justify-content: center;
    text-align: center;
    padding: 30px;
    /* border: 1px solid black; */
}

input{
    border:1px solid black;
    padding: 10px;
}
.navbar-nav{
    margin: auto!important;
}